/** Page layout **/

html {
	height: 100%;
}

body {
	background-color: #252422;
	color: #FFFCF2;
	min-height: 100%;
	position: relative;
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0px;
}

::selection {
	background-color: rgba(255, 252, 242, .99); /* .99 in order to work on FF and Chrome */
	color: #252422;
}

#body-content {
	padding-bottom: 80px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

/** Navbar **/

#navbar {
	background-color: #33312E;
	border-bottom: 4px solid #35AAFD;
	min-height: 80px;
	width: 100%;
	margin-bottom: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navbar-logo {
	height: 48px;
	margin-left: 16px;
    image-rendering: -webkit-optimize-contrast;
}

#navbar-buttons {
	margin-right: 32px;
}

#navbar-buttons a, #navbar-buttons button {
	color: #FFFCF2;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	padding: 4px 8px;
	margin-left: 32px;
	background: linear-gradient(to right, #FFFCF2 49.9%, #00000000 49.9%);
	background-position: right;
	background-size: 200% 100%;
	transition: background-position 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#navbar-buttons a.active, #navbar-buttons a:hover, #navbar-buttons .active button, #navbar-buttons button:hover {
	color: #252422;
	background-position: left;
}

#navbar-buttons a.active::before {
	content: "> "
}

#navbar-buttons form {
	display: inline;
}

/** Footer **/

#footer {
	font-size: 13px;
	text-align: center;
	bottom: 0;
	margin-bottom: 16px;
	position: absolute;
	width: 100%;
}

#footer b a {
	font-size: 16px;
	color: #FFFCF2;
}

/** Default HTML Elements **/

p {
	margin: 0px;
}

a {
	text-decoration: none;
	color: #35AAFD;
	transition: color 200ms ease-in-out;
}

img::selection {
	background: none;
}

a:hover {
	text-decoration: underline;
	color: #FCDC42;
}

select {
	cursor: pointer;
}

button {
	cursor: pointer;
	font-family: Arial, sans-serif; /* Needed again for some reason, the body one isn't enough */
	border: none;
	font-size: inherit;
}

ul {
	margin: 0px;
}

small {
    color: #BAC1B8;    
}

/* Sectioning */

.section-header {
	font-size: 24px;
	font-weight: bold;
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.decorator-square-container {
	width: 32px;
	height: 32px;
	background-color: #403D39;
	margin-right: 8px;
	flex-shrink: 0;
}

.decorator-square-component {
	width: 32px;
	position: absolute;
	animation: anim-decorator-square-color 2s 1 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.decorator-square-icon {
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center;
	animation: none;
}

.title-decorator-blue .title-decorator-icon {
	filter: invert(1);
}

.title-decorator-gray {
	background-color: #403D39;
	animation: anim-decorator-square-background 2s 1 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes anim-decorator-square-color {
	0% { height: 0px; }
	20% { height: 32px; }
	100% { height: 32px; }
}

@keyframes anim-decorator-square-background {
	0% { height: 0px; }
	/*50% { height: 0px; }
	70% { height: 32px; }
	100% { height: 32px; }*/
	100% { height: 0px; } /* This should normally be an alternating animation, but it's now off to test out how it looks */
}

.collapser {
	display: none;
}

.collapser ~ .collapsible {
	display: none;
}

.collapser:checked ~ .collapsible {
	display: inherit;
}

/* Cards */

.card {
	background-color: #33312E;
	margin-bottom: 16px;
}

.card-header {
	background-color: #403D39;
	border-bottom: 4px solid #35AAFD;
	font-size: 24px;
	padding: 16px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	word-break: break-word;
}

.card-header a {
	color: #FFFCF2;
}

.card-header small {
	display: flex;
	align-items: center;
	font-size: 16px;
	color: #BAC1B8;
	flex-shrink: 0;
}

.card-header small img {
	width: 16px;
	margin-left: 12px;
	opacity: 0.55;
}

.card-content {
	padding: 16px;
    line-height: 20px;
}

label .card-header {
	cursor: pointer;
}

/* Markdown */

.card-content h1, .card-content h2, .card-content h3
.card-content h4, .card-content h5, .card-content h6 {
    margin: 0px 0px 8px 0px;
}

.card-content blockquote {
    background-color: #403D39;
    padding: 4px;
    border-left: 4px solid #FFFCF2;
    margin: 4px 0px;
}

.card-content ol, .card-content ul {
    margin: 4px 0px;
    padding: 0px 16px;
}

.card-content pre {
    background-color: #252422;
    color: #BAC1B8;
    border-left: 4px solid #403D39;
    padding: 4px;
    margin: 8px 0px;
    white-space: pre-wrap;
    font-size: 14px;
    word-break: break-word;
}

.card-content p code {
    background-color: #252422;
    color: #BAC1B8;
    padding: 2px;
    font-size: 14px;
}

/* Buttons */

.btn-solid {
	height: 32px;
	color: #FFFCF2;
	font-weight: bold;
	display: flex;
	align-items: center;
	padding: 0px 8px;
	
	background-color: #403D39;
	transition: background-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.btn-solid:hover, .btn-solid.active {
	background-color: #35AAFD;
	text-decoration: none;
	color: #FFFCF2;
}

.btn-solid-warning:hover, .btn-solid-warning.active {
	background-color: #FCDC42;
	color: #252422;
}

.btn-solid-danger:hover, .btn-solid-danger.active {
	background-color: #E06552;
	color: #FFFCF2;
}

.btn-solid-link.btn-solid-danger {
    background-image: linear-gradient(to right, #403D39 49.9%, #E06552 49.9%);
}

.btn-solid-link {
    background-image: linear-gradient(to right, #403D39 49.9%, #35AAFD 49.9%);
	background-position-x: 4px;
	background-size: 200% 100%;
	transition: background-position 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.btn-solid-link:hover, .btn-solid-link:active {
    background-position-x: -100%;
}

.btn-solid-link.btn-solid-link-unclickable:hover, .btn-solid-link.btn-solid-link-unclickable:active {
	background-position-x: 4px;
}

.btn-solid-link-unclickable {
    cursor: auto;
}

.btn-dynamic {
	height: 40px;
	padding: 0px 16px;
	
	background: linear-gradient(#35AAFD 49.9%, #FFFCF2 49.9%);
	color: #252422;

	background-position: 0px 36px;
	background-size: 100% 200%;
	transition: background-position 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}

.btn-dynamic:hover {
	background-position: top;
	color: #FFFCF2;
}

.btn-dynamic-danger {
	background-image: linear-gradient(#E06552 49.9%, #FFFCF2 49.9%);
}

/* Tooltips */

.tooltip {
	position: relative;
	cursor: default;
	display: flex;
	justify-content: center;
}

.tooltip .tooltip-text {
	min-width: 200px;
	max-width: 240px;
	font-size: 14px;
	opacity: 1;
	font-weight: normal;
	background-color: #403D39;
	border-bottom: solid 4px #BAC1B8;
	margin-bottom: 4px;
	color: #FFFCF2;
	padding: 8px;
	cursor: text;
	text-align: center;
	word-break: break-word;
	
	position: absolute;
	z-index: 1;
	bottom: 125%;
	
	opacity: 0;
	visibility: hidden;
	transition: opacity 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 200ms linear;
}

.tooltip .tooltip-text::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateY(4px);
	margin-left: -4px;
	border-width: 4px;
	border-style: solid;
	border-color: #BAC1B8 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
	opacity: 1;
	visibility: visible;
}

/* Tags */

.tag {
	background-color: #403D39;
	padding: 4px;
    padding-right: 8px;
	margin-bottom: 8px;
}

.tag-inline {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	min-height: 32px;
	padding-left: 8px;
}

/* Messages */

.message-centered {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.message-centered > img {
	width: 128px;
	height: 128px;
	margin-right: 16px;
}

.message-centered > div > div:nth-child(1) {
	font-size: 48px;
	font-weight: bold;
}

/* Typewriter effect */

.typewriter {
	display: inline-block;
    border-right: 2px solid rgba(255, 252, 242, .99);
    white-space: nowrap;
    overflow: hidden;
	animation: typewriter 800ms steps(40) 200ms 1 normal both, blinkTextCursor 400ms both 2;
}

@keyframes typewriter {
	from { max-width: 0%; }
	to { max-width: 100%; } /* TODO: If screen width is too small, typewriter text gets hidden */
}

@keyframes blinkTextCursor {
	0% { border-right-color: transparent; }
	50% { border-right-color: rgba(255, 252, 242, .99); }
	100% { border-right-color: transparent; }
}

/* Forms */

input, select, option {
	background-color: #FFFCF2;
	color: #252422;
	border: none;
	height: 40px;
	padding: 0px 0px 0px 12px;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	box-shadow: none;
	outline: none;
}

select {
	padding: 0px 0px 0px 8px;
}

textarea {
	min-height: 32px;
	resize: none;
	box-sizing: border-box;
	margin: 0px;
	font-size: 16px;
	font-family: Arial, sans-serif;
	color: #FFFCF280;
}

textarea:focus {
	height: 160px;
	background-color: #33312E;
	z-index: 1;
}

textarea::placeholder {
	opacity: 1;
	color: #BAC1B8;
}

input::placeholder {
	opacity: 1;
	color: #BAC1B8;
}

input::selection {
	background-color: #252422;
	color: #FFFCF2;
}

.input-silent {
	background: inherit;
	color: inherit;
	height: inherit;
	padding: 2px;
	font-size: inherit;
	border: 2px dashed #FFFCF210;
}

.input-silent::placeholder {
	opacity: 0.55;
}

.input-silent:hover {
	border-color: #FFFCF240;
}

.input-silent:focus {
	border-color: #FFFCF280;
	outline: none;
}

.input-silent::selection {
	background-color: #FFFCF2;
	color: #252422;
}

input[type="checkbox"] {
	display: none;	
}

.checkbox {
	display: flex;
	width: 32px;
	height: 32px;
	margin-right: 8px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: linear-gradient(#403D39 49.9%, #35AAFD 49.9%);
	background-size: 100% 200%;
	background-position: top;
	transition: background-position 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

input:checked ~ .checkbox {
	background-position: bottom;
}

.checkbox img {
	width: 20px;
	height: 20px;
}

input ~ .checkbox img:nth-child(1) {
	opacity: 0.55;
}

input ~ .checkbox img:nth-child(2) {
	display: none;
}

input:checked ~ .checkbox img:nth-child(1) {
	display: none;
}

input:checked ~ .checkbox img:nth-child(2) {
	display: inherit;
}

/* Home page */

#home-logo {
	text-align: center;
	margin-top: 32px;
	margin-bottom: 32px;
}

#home-logo img {
	width: 60%;
}

#home-ctf-start-time {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	margin-bottom: 16px;
}

#home-intro-text {
	font-size: 20px;
	text-align: center;
	margin-bottom: 32px;
}

.ctfx-sponsor-logo { /* Rename this to .sponsor-logo and uBlock will get you! */
	height: 64px;
	margin-right: 8px;
	margin-bottom: 8px;
}

/* Challenges page */

.pre-category-name {
	font-size: 24px;	
}

.category-name {
	font-size: 64px;
	font-weight: bold;
}

.category-description {
	background-color: #33312E;
	padding: 8px;
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.category-description > img {
	width: 32px;
	height: 32px;
	margin-right: 8px;
	flex-shrink: 0;
}

.challenge-points {
	opacity: 0.55;
	font-size: 20px;
	display: flex;
	align-items: center;
	margin: 0px 8px;
    flex-shrink: 0;
}

.challenge-points img {
	width: 20px;
	margin-right: 8px;
	flex-shrink: 0;
}

.card-challenge-solved .card-header {
	background-color: #35AAFD;
	border-bottom: none;
}

.card-challenge-solved .card-header small {
	color: #FFFCF2;
	font-size: 20px;
	font-weight: bold;
}

.card-challenge-solved .card-header small img {
	width: 24px;
	opacity: 1;
}

.card-challenge-scrolling-background .card-header {
	background: 
		linear-gradient(45deg, #25242210 25%, transparent 25%) 0px 30px,
		linear-gradient(135deg, #25242210 25%, transparent 25%) 0px 30px,
		linear-gradient(225deg, #25242210 25%, transparent 25%),
		linear-gradient(315deg, #25242210 25%, transparent 25%);
	color: #252422;
	background-size: 60px 60px;
	animation: solve-background-scroll 2s linear infinite;
}

.card-challenge-scrolling-background .card-header img {
	filter: invert(1);
}

.card-challenge-scrolling-background .card-header a, .card-challenge-scrolling-background .card-header small {
	color: #252422;
}

.card-challenge-first-blood .card-header {
	background-color: #FCDC4D;
}

.card-challenge-second-blood .card-header {
	background-color: #BAC1B8;
}

.card-challenge-third-blood .card-header {
	background-color: #E06552;
}

@keyframes solve-background-scroll {
	from { background-position-x: 0; }
	to { background-position-x: 60px; }
}

/* Tables */

table {
    table-layout: fixed;
}

table, tbody, thead {
    width: 100%;
    background-color: #403D39;
    border-spacing: 0px;
}

tr {
    display: flex;
    flex-grow: 1;
}

tr a {
    color: #FFFCF2;
    font-weight: bold;
}

td .tooltip {
    justify-content: left;
}

thead tr {
    border-bottom: 4px solid #35AAFD;
}

tbody tr {
    border-top: 4px solid #252422;
}

tbody tr:hover {
    background-color:rgba(255, 252, 242, .1);
}

td, th {
    flex-grow: 1;
    padding: 4px;
}

th {
    text-align: left;
}

/* Scoreboard */

.scoreboard-team-name {
    font-weight:bold;
    color: #FFFCF2;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scoreboard {
}

.scoreboard-entry {
    font-weight: bold;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 8px;
    gap: 4px;
}

.our-team {
    color: #35AAFD;
}

.other-team {
    color: #FFFCF2;
}

.scoreboard-entry .scoreboard-score {
    flex-basis: 80%;
    flex-shrink: 0;
    padding-bottom: 2px;
    border-bottom: 4px solid #403D39;
    max-height: 28px;
    font-weight: bold;
}

.scoreboard-score .scoreboard-fill {
    height: 24px;
    display: flex;
    align-items: center;
    white-space: nowrap;
	background: 
		linear-gradient(315deg, #25242210 25%, transparent 25%) 0px 30px,
		linear-gradient(135deg, #25242210 25%, transparent 25%);

	background-size: 60px 60px;
    background-color: #35AAFD;
}
